<link rel='stylesheet'
      href='/tailwind.min.css' />
<link rel='stylesheet'
      href='/font/bootstrap-icons.css' />
      <link rel="shortcut icon"
            type="image/x-icon"
            href="/img/favicon.png">
<link rel="preconnect"
      href="https://fonts.googleapis.com">
<link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,400;0,700;0,900;1,300&family=Roboto:wght@400;700&family=Work+Sans:wght@400;700&display=swap"
      rel="stylesheet">
<script src='/jquery.min.js'></script>

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '718670ff478dc48fffe874d7b45d1ac031a7388c';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
